@import url('https://fonts.googleapis.com/css?family=Acme|Rochester');

body {font-family: 'Acme', cursive;
font-size:120%}
h1 {
  font-family: 'Rochester', cursive;
  font-size: 5.5rem;
  color:#006C84;
}
h2, .red {
  color:#da4716;
}

h1, h2 {
  margin:0;
  padding: 0;
}

.today_container {
  /* border-top: 1px solid #da4716; */
  color:#4e7b82;
  font-weight:bold;
}
